body {
	font-family: sans-serif;
	width: 100%;
	margin: auto;
	background-color: #cfd8dc;
}

.removeButton {
	color: white;
	border-radius: 4px;
	background-color: #ff0000;
}



.card {
	/*box-shadow: 10px 10px 5px 0px rgba(238, 238, 238, 1);*/
	margin: 5px;
	text-align: center;
	padding-bottom: 6px;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-flow: column;

}

.itemcard {
  /* Add shadows to create the "card" effect */
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 5.3s;
  margin: 0 5px;
  background-color: #b0bec5;
  padding: 9px;

}

.itemTypeCard {
  /* Add shadows to create the "card" effect */
  width: auto;
  padding: 6px 12px;
  margin: 16px 4px 0px 4px;
  background-color: #b0bec5;
}

.itemDivHead {
  Add shadows to create the "card" effect
  padding: 8px;
  margin: 8px;
}

.divOrderHead {
  Add shadows to create the "card" effect
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #607d8b;
  border-bottom: 2px solid black;

}

.orderDetail {
  Add shadows to create the "card" effect
  padding: 0 12px;
  margin: 0 12px;
}

h1{
	margin: 0;
}

.form-control{
	padding: 4px;
	margin: 4px;
}

/*.form-group {
  Add shadows to create the "card" effect
  padding: 2px;
  margin: 2px;
}*/

.ADDdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

}
.addButton {
    width: 50%;
    max-width: 100px;
    height: $height;
    padding: 8px;
    font-size: 0.8rem;
    background-color: #eceff1;
    font-weight: 900;
    color: $pink;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba($white, 0.3);
    position: relative;
    margin: 2px 0;
}
