body {
	font-family: sans-serif;
	width: 100%;
	margin: auto;
  height: 100%;
	background-color: #cfd8dc;
/*  display: grid;
  place-items:center;
*/
}
/*
.removeButton {
	color: white;
	border-radius: 4px;
	background-color: #ff0000;
}

.ex1 .parent {
  display: grid;
  place-items: center;
} */



/*.card {
	/*box-shadow: 10px 10px 5px 0px rgba(238, 238, 238, 1);*/
	/*margin: 5px;
	text-align: center;
	padding-bottom: 6px;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-flow: column;

}*/

.itemcard {
  /* Add shadows to create the "card" effect */
  width: auto;
  max-width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: auto;
  padding: 12px 0;
  border-radius: 12px;
  border: 1px solid black;
  background-color:#b0bec5;
  display: grid;
  place-items:center;
}


.textInputDiv {
  padding: 3px 0 3px 0;
}
/*.divCard {
  display: block;

}
*/
.radioSpan {
  border: .5px solid #b0cccc;
  border-radius: 6px;
  padding: 3px;
  background-color: #b0bbbb;
}

.radioSpan:focus {
  background-color: red;
}

.radioSpan input[type="radio"]:checked + label{
  background-color: white;
}

/*.itemTypeCard {
  /* Add shadows to create the "card" effect */
/*    width: auto;
  padding: 6px 12px;
  margin: 16px 4px 0px 4px;
  background-color: #b0bec5;
  display: flex;
}
*/

.pin {
	font-size: 32px;
	font-style: bold;
	padding: 0 6px 0 0;
}

.selin {
	font-size: 21px;
}

.radioSpanGrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1px;
}

.itemDivHead {
  padding: 3px 0 3px 0;
  /*grid-column-start: 2;
  grid-column-end: 4;*/
 /* grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;*/
}
/*
.itemDivHead :first-child {
  grid-column: 1/-1;

}*/

.divOrderHead {
  Add shadows to create the "card" effect
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #607d8b;
  border-bottom: 2px solid black;

}

.orderDetail {
  Add shadows to create the "card" effect
  padding: 0 12px;
  margin: 0 12px;
}

h1{
	margin: 0;
}

.form-control{
	padding: 4px;
	margin: 4px;
}

/*.form-group {
  Add shadows to create the "card" effect
  padding: 2px;
  margin: 2px;
}*/

.ADDdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

}
.addButton {
    width: 50%;
    max-width: 100px;
    height: $height;
    padding: 8px;
    font-size: 0.8rem;
    background-color: #eceff1;
    font-weight: 900;
    color: $pink;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba($white, 0.3);
    position: relative;
    margin: 2px 0;
}
