<!DOCTYPE html>
<html>
	<head>
		<title>Order</title>
		<link rel="stylesheet" type="text/css" href="static/index.css">
	</head>
	<body>
		

		<form action="{{ url_for('confirmOrder') }}" method="post" id="itemForm">
			<div class="divOrderHead">
				<label for="ordername"> Order Name: </label>
				<input class="form-control" type="text" id="ordername" name="ordername" placeholder="Order Company Name">
				<label for="contactname"> Contact Person Name: </label>
				<input class="form-control" type="text" id="contactname" name="contactname" placeholder="Contact Person Name" list="custNames"required>
				<datalist id="custNames">
					{% for customer in customers %}
						<option value="{{ customer.name }}">{{ customer.name }}</option>
					{% endfor %}
				</datalist>
				<label for="contactnumber"> Contact Number: </label>
				<input class="form-control" type="Number" id="contactnumber" name="contactnumber" placeholder="Contact Number" required>
			</div>

			<div class="itemcard">
				<div class="divCard">
					<h1>Enter Item Details: </h1>
					
					<label for="orderType">Type of item:</label>
					<select class="form-control" name="orderType" id="orderType" onchange="moreOptions()" value="{{ orderType }}">
						<option value="" selected disabled hidden>--Choose--</option>
						<option id="long" value="Long Copy">Long Copy</option>
						<option id="a4options" value="A4 Copy">A4 Copy</option>
						<option id="exam" value="Exam Copy">Exam Copy</option>
						<option id="diary" value="School Diary">School Diary</option>
						<option id="register" value="Register">Register</option>
						<option id="spiraloptions" value="Spiral Notebook">Notebook Spiral</option>
					</select>

					<div id="parent">	
					</div>

				</div>
			</div>

			<div class="submitClass" id="submitItemDiv">
				<button class="submitButton" type="button" id="submitItemButton" onclick="submitFormFun()">Get Quote</button>
			</div>
		</form>
		<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
	</body>
</html>